{% extends './layout.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
{% endblock %}

{% block bokeh_script %}

{% endblock %}


{% block body %}
<div class="row">
  <div class="col">
      <main class="form-group">
        {% from './macro.html' import render_field %}
        <form action="insertsell" method="POST">
          <img class="mb-4" src="{{url_for('static',filename='img/sell.svg')}}" alt="" width="300" height="100">

          <h1 class="h3 mb-3 fw-normal">QUESTIONARIO DE MADUREZ DIGITAL</h1>
          
          <div class="form-floating">
            {{render_field(form.COMPANY_NAME,class="form-control", placeholder="NOMBRE DE LA COMPAÑIA")}}
          </div>
          
          <div class="form-floating">
            {{render_field(form.QUESTION_A,class="form-control", placeholder="¿TIENE CLARO EL OBJETIVO DE SU EMPRESA?")}}
          </div>
          
          <div class="form-floating">
            {{render_field(form.QUESTION_B,class="form-control",placeholder="¿TIENE CLARO SUS OBJETIVOS SEMANALES?")}}
          </div>

          <div class="form-floating">
            {{render_field(form.QUESTION_C,class="form-control",placeholder="¿PROGRAMA SECIONES PARA DEFINIR LOS OBJETIVOS?")}}
          </div>

          <div class="form-floating">
            {{render_field(form.QUESTION_D,class="form-control",placeholder="¿MANEJA UN CRONOGRAMA CON LOS HITOS IMPORTANTES?")}}
          </div>
          <div class="form-floating">
            {{render_field(form.QUESTION_E,class="form-control",placeholder="¿SE APEGA A LA PLANEACIÓN DE SUS OBJETIVOS EN TIEMPO Y FORMA?")}}
          </div>
          <div class="form-floating">
            {{render_field(form.QUESTION_F,class="form-control",placeholder="¿ADECUA SUS ESTRATEGIAS PARA CUMPLIR CON LAS EXPECTATIVAS DE SUS CLIENTES?")}}
          </div>
          <div class="form-floating">
            {{render_field(form.QUESTION_G,class="form-control",placeholder="¿CAMBIA DE PLANES SIN AVISAR A SU EQUIPO?")}}
          </div>
          <div class="form-floating">
            {{render_field(form.QUESTION_H,class="form-control",placeholder="¿ACTUA DE MANERA RAPIDA PARA RESOLVER UN PROBLEMA?")}}
          </div>
          <div class="form-floating">
            {{render_field(form.QUESTION_I,class="form-control",placeholder="¿EXPLORA NUEVOS CAMINOS PARA RESOLVER UN PROBLEMA?")}}
          </div>
          <div class="form-floating">
            {{render_field(form.QUESTION_J,class="form-control",placeholder="¿SU EQUIPO PROPONE SOLUCIONES PARA RESOLVER UN PROBLEMA?")}}
          </div>
          <div class="form-floating">
            {{render_field(form.QUESTION_K,class="form-control",placeholder="¿PROGRAMA REUNIONES DE TRABAJO CON SU EQUIPO PARA DAR PROPUESTAS?")}}
          </div>
          <div class="form-floating">
            {{render_field(form.QUESTION_L,class="form-control",placeholder="¿ACTUA DE MANERA RAPIDA PARA RESOLVER UN PROBLEMA?")}}
          </div>
          <div class="form-floating">
            {{render_field(form.QUESTION_M,class="form-control",placeholder="¿SOLICITA AYUDA EXTERNA, COMO CONSULTORIAS, PARA RESOLVER UN PROBLEMA?")}}
          </div>
          <div class="form-floating">
            {{render_field(form.QUESTION_O,class="form-control",placeholder="¿TIENE DEFINIDOS CORRECTAMENTE LOS ROLES DENTRO DE SU ORGANIZACIÓN?")}}
          </div>
          <div class="form-floating">
            {{render_field(form.QUESTION_P,class="form-control",placeholder="¿IMPLEMENTA CAPACITACIONES PARA SUS TRABAJADORES?")}}
          </div>
          <div class="form-floating">
            {{render_field(form.QUESTION_Q,class="form-control",placeholder="¿IMPLEMENTA KPI PARA TENER ESTATUS DE SUS PROYECTOS?")}}
          </div>
          <div class="form-floating">
            {{render_field(form.QUESTION_R,class="form-control",placeholder="¿INVIERTE EN AUTOMATIZACION DE PROCESOS?")}}
          </div>
          <div class="form-floating">
            {{render_field(form.QUESTION_S,class="form-control",placeholder="¿TIENE UNA PAGINA WEB ?")}}
          </div>
          <div class="form-floating">
            {{render_field(form.QUESTION_T,class="form-control",placeholder="¿TIENE UNA TIENDA ONLINE?")}}
          </div>
          <div class="form-floating">
            {{render_field(form.QUESTION_U,class="form-control",placeholder="¿REALIZA CAMPAÑAS DE MARKETING DIGITAL?")}}
          </div>
          <div class="form-floating">
            {{render_field(form.QUESTION_V,class="form-control",placeholder="¿TIENE SERVICIO DE ATENCION AL CLIENTE?")}}
          </div>


          <button class="btn btn-primary w-100 py-2" type="submit">Send</button>
          
          <p class="mt-5 mb-3 text-body-secondary">&copy; 2024–2025</p>
        </form>
      </main>
  </div>

</div>
  
{% endblock %}